@page "/sidebar"

<div id="sidebar">
	<div>
		<h4>SideBar</h4>
		<button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="close"></button>
		<p>Hi</p>
	</div>
</div>
@code {

}
