@page "/"

	<div class="d-flex h-100 flex-column justify-content-center container-xxl">
		<div class="row">
			<div class="col-12 col-md-6 d-flex flex-column">
				<h1>BugTracker</h1>
				<div class="subTitle">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</div>
				<div class="mt-2 fw-bold">Built with pride using cutting edge tech:</div>
				<div class="stackIcons">
					<i class="devicon-csharp-plain colored"></i>
					<i class="devicon-blazor-original colored"></i>
					<i class="devicon-dotnetcore-plain colored"></i>
					<i class="devicon-postgresql-plain colored"></i>
					<i class="devicon-bootstrap-plain colored"></i>
				</div>
				<div class="text-center text-md-start">
					<a href="/Account/Login" class="btn btn-large btn-primary rounded-pill">Get Started</a>
				</div>
			</div>
			<div class="col-12 col-md-6 order-first order-md-last">
				<img src="image/undraw_project_complete_lwss.svg" class="img-fluid" />
			</div>
		</div>
	</div>


@code {

}

